.preview-container a {
    background-color: transparent;
}

.preview-container a:active,
a:hover {
    outline: 0;
}

.preview-container b,
.preview-container strong {
    font-weight: bold;
}

.preview-container dfn {
    font-style: italic;
}

.preview-container mark {
    background: #ff0;
    color: #000;
}

.preview-container small {
    font-size: 80%;
}

.preview-container sub,
.preview-container sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.preview-container sup {
    top: -0.5em;
}

.preview-container sub {
    bottom: -0.25em;
}

.preview-container img {
    border: 0;
}

.preview-container svg:not(:root) {
    overflow: hidden;
}

.preview-container figure {
    margin: 1em 40px;
}

.preview-container hr {
    box-sizing: content-box;
    height: 0;
}

.preview-container pre {
    overflow: auto;
}

.preview-container code,
.preview-container kbd,
.preview-container pre,
.preview-container samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.preview-container button,
.preview-container input,
.preview-container optgroup,
.preview-container select,
.preview-container textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.preview-container button {
    overflow: visible;
}

.preview-container button,
.preview-container select {
    text-transform: none;
}

.preview-container button,
.preview-container html input[type="button"],
.preview-container input[type="reset"],
.preview-container input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.preview-container button[disabled],
.preview-container html input[disabled] {
    cursor: default;
}

.preview-container button::-moz-focus-inner,
.preview-container input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.preview-container input {
    line-height: normal;
}

.preview-container input[type="checkbox"],
.preview-container input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.preview-container input[type="number"]::-webkit-inner-spin-button,
.preview-container input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.preview-container input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

.preview-container input[type="search"]::-webkit-search-cancel-button,
.preview-container input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.preview-container fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.preview-container legend {
    border: 0;
    padding: 0;
}

.preview-container textarea {
    overflow: auto;
}

.preview-container optgroup {
    font-weight: bold;
}

.preview-container table {
    border-collapse: collapse;
    border-spacing: 0;
}

.preview-container td,
.preview-container th {
    padding: 0;
}

.preview-container input,
.preview-container select,
.preview-container textarea,
.preview-container button {
    font: 14px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.preview-container a {
    color: #4078c0;
    text-decoration: none;
}

.preview-container a:hover,
.preview-container a:active {
    text-decoration: underline;
}

.preview-container hr,
.preview-container .rule {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.preview-container hr:before,
.preview-container .rule:before {
    display: table;
    content: "";
}

.preview-container hr:after,
.preview-container .rule:after {
    display: table;
    clear: both;
    content: "";
}

.preview-container h1,
.preview-container h2,
.preview-container h3,
.preview-container h4,
.preview-container h5,
.preview-container h6 {
    margin: 24px 0 16px;
    padding: 0;
    line-height: 1.1;
    font-weight: 600;
}

.preview-container h1,
.preview-container h2 {
    border-bottom: 1px solid #eaecef;
}

.preview-container h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 16px;
    padding: 0 0 9.600000381469727px;
}

.preview-container h2 {
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 7.199999809265137px;
}

.preview-container h3 {
    font-size: 20px;
    line-height: 25px;
}

.preview-container h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 16px;
    padding: 0;
}

.preview-container h5 {
    font-size: 14px;
    line-height: 17px;
}

.preview-container h6 {
    font-size: 13.600000381469727px;
    line-height: 17px;
}

.preview-container small {
    font-size: 90%;
}

.preview-container blockquote {
    margin: 0;
}

.preview-container ul,
.preview-container ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.preview-container ol ol,
.preview-container ul ol {
    list-style-type: lower-roman;
}

.preview-container ul ul ol,
.preview-container ul ol ol,
.preview-container ol ul ol,
.preview-container ol ol ol {
    list-style-type: lower-alpha;
}

.preview-container dd {
    margin-left: 0;
}

.preview-container tt,
.preview-container code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.preview-container pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.preview-container #wrapper {
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    padding: 3px;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #dddddd !important;
    color: #333;
}

.preview-container p {
    margin: 1em 0;
}

.preview-container a {
    color: #4183c4;
    text-decoration: none;
}

.preview-container #wrapper {
    background-color: #fff;
    padding: 30px;
    margin: 15px;
    font-size: 16px;
    line-height: 1.6;
}
.preview-container #wrapper > *:first-child {
    margin-top: 0 !important;
}
.preview-container #wrapper > *:last-child {
    margin-bottom: 0 !important;
}

@media screen {
  .preview-container #wrapper {
        border: solid 1px #ddd;
    }
}
.preview-container p,
.preview-container blockquote,
.preview-container ul,
.preview-container ol,
.preview-container dl,
.preview-container table,
.preview-container pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.preview-container hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

.preview-container ul,
.preview-container ol {
    padding-left: 2em;
}

.preview-container ul.no-list,
.preview-container ol.no-list {
    padding: 0;
    list-style-type: none;
}

.preview-container ul ul,
.preview-container ul ol {
    margin-top: 0;
    margin-bottom: 0;
}

.preview-container ol ol,
.preview-container ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.preview-container li > p {
    margin-top: 16px;
}

.preview-container dl {
    padding: 0;
}
.preview-container dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
}
.preview-container dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.preview-container blockquote {
    padding: 0 15px;
    margin-left: 0;
    color: #777;
    border-left: 4px solid #ddd;
}
.preview-container blockquote > :first-child {
    margin-top: 0;
}
.preview-container blockquote > :last-child {
    margin-bottom: 0;
}

.preview-container table {
    display: block;
    width: 100%;
    overflow: auto;
}
.preview-container table th {
    font-weight: 700;
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.preview-container table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.preview-container table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.preview-container table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.preview-container img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.preview-container span.frame {
    display: block;
    overflow: hidden;
}
.preview-container span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #ddd;
}
.preview-container span.frame span img {
    display: block;
    float: left;
}
.preview-container span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #333;
}
.preview-container span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
.preview-container span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
.preview-container span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.preview-container span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
.preview-container span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
.preview-container span.align-right span img {
    margin: 0;
    text-align: right;
}
.preview-container span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
.preview-container span.float-left span {
    margin: 13px 0 0;
}
.preview-container span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
.preview-container span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.preview-container code,
.preview-container tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.preview-container code:before,
.preview-container code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.preview-container tt:before,
.preview-container tt:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.preview-container code br,
.preview-container tt br {
    display: none;
}

.preview-container del code {
    text-decoration: inherit;
    vertical-align: text-top;
}

.preview-container pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    white-space: pre;
    background: transparent;
    border: 0;
}

.preview-container .highlight {
    margin-bottom: 16px;
}
.preview-container .highlight pre {
    padding: 16px;
    margin-bottom: 0;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.preview-container pre {
    padding: 16px;
    margin-bottom: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    word-wrap: normal;
}
.preview-container pre code,
.preview-container pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.preview-container pre code:before,
.preview-container pre code:after {
    content: normal;
}
.preview-container pre tt:before,
.preview-container pre tt:after {
    content: normal;
}

.preview-container .poetry pre {
    font-family: Georgia, Garamond, serif !important;
    font-style: italic;
    font-size: 110% !important;
    line-height: 1.6em;
    display: block;
    margin-left: 1em;
}
.preview-container .poetry pre code {
    font-family: Georgia, Garamond, serif !important;
    word-break: break-all;
    word-break: break-word;
    /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap;
}

.preview-container sup,
.preview-container sub,
.preview-container a.footnote {
    font-size: 1.4ex;
    height: 0;
    line-height: 1;
    vertical-align: super;
    position: relative;
}

.preview-container sub {
    vertical-align: sub;
    top: -1px;
}