* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f5f5f6;
    padding-top: 50px;
    font: 14px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    color: #333;
}

a {
    text-decoration: none;
}

.nav {
    background: #28313e;
    display: flex;
    padding: 5px 25px;
    width: 100%;
    font-size: 20px;
    align-items: center;
    position: fixed;
    margin-top: -50px;
}

.nav div {
    margin-left: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .nav div {
    display:inline-block;
    padding: 0 5px;
    align-self: center;
  } */

.nav div > p {
    align-self: center;
    font-size: 11px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    font-weight: 300;
}

.nav a {
    margin: 0 15px;
    transition: 0.2s;
    color: #ececec;
}

.nav .logo {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.nav a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.nav a:visited,
.nav a:focus {
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}
.container {
    width: 100%;
    margin: auto;
    padding: 50px 35px;
}

.half-container {
    min-height: 83vh;
    background: #fff;
    padding: 40px 50px;
    width: 50vw;
    border: 1px solid #ddd;
    overflow: scroll;
    word-wrap: break-word;
}

.preview-container {
    margin-right: 20px;
}

.preview-container a {
    color: #4078c0;
}

.btn-control {
    margin: 15px auto;
    width: 350px;
}

button {
    margin: 15px;
    text-align: center;
}

.saveButtons {
    display: flex;
}

.copyButton {
    background: #424242;
    color: white;
    font-size: 12px;
    padding: 10px;
    border: none;
}

.login-container {
    width: 500px;
    margin: 0 auto;
    padding: 50px 80px;
}

.login-container h2 {
    text-align: center;
    color: #333;
}

.modal-container {
    text-align: center;
}

.modal-container pre {
    background: #eee;
    padding: 15px 20px;
    width: 80%;
    margin: 20px auto;
}

.modal-container .cancel-btn {
    color: #424242 !important;
}

@media all and (max-width: 800px) {
    .tagline {
        display: none;
    }
    .saveButtons li:nth-child(1),
    .saveButtons li:nth-child(2) {
        display: none;
    }
}

@media all and (max-width: 480px) {
    .half-container {
        width: 100%;
    }
    .flex-container {
        display: block;
    }
}
